name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: kantaogasawara/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: build and test
        run: |
          rsync -av ./ /root/ros2_ws/src/mypkg/
          cd /root/ros2_ws
          colcon build
          source install/setup.bash
          bash src/mypkg/test/test.bash
